@model DeleteLibrary.Models.Book[]
@{
    ViewBag.Title = "Home Page";
}
<H2>@Html.ActionLink("Добавить новую книгу","CreateBook")</H2>
<table class="table table-bordered table-hover table-striped table-condensed">
    <tr>
        <th>Название</th>
        <th>Постер</th>
        <th>Автор</th>
        <th>Описание</th>
        <th>Изменение</th>
        <th>Удаление</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Name</td>
            <td> <img class="img-size" src="@book.Cover"> </td>
            <td>@book.Author</td>
            <td>@book.Discription</td>
            <td>@Html.ActionLink("Edit","EditBook","Admin",new {Id=book.Id}, new { @class = "btn btn-block btn-success" })</td>
            <td>@Html.ActionLink("Remove","RemoveBook","Admin",new {Id=book.Id}, new { @class = "btn btn-block btn-danger" })</td>
        </tr>
    }
</table>